<p>Hi <%= @resource.email %>!</p>

<p><%= link_to 'Click here', "#{Constants::FRONTEND_URL}/reset-password/#{@token}"%> to reset your password for Tntra Rewards & Recognition platform as requested.</p>

<p>Kindly ignore this email if Reset Password was not requested by you for security reasons.</p>
<p>Best Regards,</p>
<p>Team Tntra</p>

